/*========================================================
        DARK LAYOUT
=========================================================*/
.bg-authentication {
  background-color : #EFF2F7;
}
.bg-authentication .login-footer {
  padding : 0rem 1.5rem 0.5rem;
}
.bg-authentication .login-footer .footer-btn .btn {
  padding : 0.9rem 1.2rem !important;
  margin : 1rem 1rem 1rem 0rem;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .bg-authentication {
    width : 100%;
  }
}

.deactive {
  display: none;
}




.dynamic_fields {
  min-height: 120px;
}

.box-link-internet-platform {
  display: none;
}

.pull-right {
  float: right;
}

.table {
  display: table;
  width: 100%;
}

.link-internet-platform-add {
  position: relative;
}

.link-internet-platform-add:last-child .table {
  padding-bottom: 0;
}

.table .cell {
  display: table-cell;
  vertical-align: top;
}

.table .cell:last-child {
  width: 1px;
  padding-left: 10px;
}

.pull-right {
  padding: 6px 12px;
  line-height: 1.42857143;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}